html(lang= 'ru')
  head
    meta(charset='utf-8')
    title= 'Быстрый запуск Webpack'
  body
    footer.footer
      section.footer-big-nav
        .container
          .footer-wrapper
            .footer-text
              img.logo(src=require('./Logo.svg'), alt='No photo')
              p.description Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
            nav.footer-map
              .footer-map-col
                h3.map-col-title навигация
                ul.map-col-list
                  li.map-col-item
                    a.map-col-link(href="#") О нас
                  li.map-col-item
                    a.map-col-link(href="#") Новости
                  li.map-col-item
                    a.map-col-link(href="#") Служба поддержки
                  li.map-col-item
                    a.map-col-link(href="#") Услуги
              .footer-map-col
                h3.map-col-title о нас
                ul.map-col-list
                  li.map-col-item
                    a.map-col-link(href="#") О сервисе
                  li.map-col-item
                    a.map-col-link(href="#") Наша команда
                  li.map-col-item
                    a.map-col-link(href="#") Вакансии
                  li.map-col-item
                    a.map-col-link(href="#") Инвесторы
              .footer-map-col
                h3.map-col-title служба поддержки
                ul.map-col-list
                  li.map-col-item
                    a.map-col-link(href="#") Соглашения
                  li.map-col-item
                    a.map-col-link(href="#") Сообщества
                  li.map-col-item
                    a.map-col-link(href="") Связь с нами
              .footer-map-col
                h3.map-col-title подписка
                p.map-col-text Получайте специальные предложения и новости сервиса      
                form.map-col-form
                  .form-group
                    label.form-group__wrapper
                      .input-wrapper
                        input.form-group__input(type="email", placeholder="Email")
                        button.form-group__input-button
                          img(src=require('./arrow_forward.png'), alt="No icon")                
      section.footer-small-nav
        .container
          .footer-wrapper
            p.footer-copyright Copyright © 2018 Toxin отель. Все права защищены.
            ul.icons-list
              li.icons-item
                a.icons-item-link(href="")
                  img(src=require('./twitter.png'), alt="No icon")
              li.icons-item
                a.icons-item-link(href="")
                  img(src=require('./facebook.png'), alt="No icon") 
              li.icons-item
                a.icons-item-link(href="")
                  img(src=require('./instagram.png'), alt="No icon")    
                
              